<div class="container">
  <div class="card">
    <img src="https://images.pexels.com/photos/1265910/pexels-photo-1265910.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="card-img-top" alt="cocktail-img" height="600px">
    <div class="card-body">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <% @cocktail.doses.each do |dose| %>
      <p class="card-text">
        <%=  dose.ingredient.name %> <i><%=  dose.description %></i>
        <%= link_to "- delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </p>
      <p class="card-text"><small class="text-muted"><%= link_to "+ Add a dose", new_cocktail_dose_path(@cocktail) %></small></p>
    </div>
  </div>

  <div class="row">
    <p><%= link_to "Back to list", cocktails_path %></p>
  </div>

</div>


